<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.iso.plogues.join.model.dao.JoinMapper">
  <insert id="saveJoin">
  	<selectKey keyProperty="joinNo"
               resultType="long"
               order="BEFORE">
        SELECT SEQ_PLG_JB.NEXTVAL
        FROM DUAL
    </selectKey>
    INSERT
      INTO
           JOIN_BOARD
    VALUES 
           (
			 #{joinNo}
		   , #{userId}
		   , #{category}
		   , #{participants}
		   , #{region}
		   , #{startDate}
		   , #{endDate}
		   , #{title}
		   , #{content}
		   , 'N'
		   , 'N'
		   , SYSDATE
		   )
  </insert>
  
  <select id="listCount" resultType="_int">
	SELECT
		   COUNT(*)
	  FROM 
		   JOIN_BOARD
	 WHERE 
	       DELETED = 'N'
	<if test="userId != null and userId != ''">
	   AND 
	       USER_ID = #{userId}
	</if>
	<if test="category != null and category != ''">
	   AND 
	       CATEGORY = #{category}
	</if>
	<if test="keyword != null and keyword != ''">
	   AND 
	       REGION LIKE '%' || #{keyword} || '%'
	</if>
  </select>
  
  <sql id="joinColumns">
  	SELECT 
           b.JOIN_NO
         , b.USER_ID
         , b.CATEGORY
         , b.PARTICIPANTS
         , b.REGION
         , b.START_DATE
         , b.END_DATE
         , b.TITLE
         , b.CONTENT
         , b.CREATE_DATE
         , (SELECT COUNT(*) 
              FROM JOIN_REQUEST sub_r 
             WHERE sub_r.JOIN_NO = b.JOIN_NO 
               AND sub_r.STATUS = 'ACCEPTED') AS CURRENT_COUNT
  </sql>
  
  <sql id="joinTable">
      LEFT JOIN (
		        SELECT
		               r.JOIN_NO,
		               r.JOIN_REQUEST_NO AS REQ_NO,
		               r.USER_ID AS REQ_USER_ID,
		               f.FILE_PATH || f.CHANGE_NAME AS PROFILE
		          FROM JOIN_REQUEST r
		          LEFT JOIN USER_FILE f ON r.USER_ID = f.USER_ID
		         WHERE r.STATUS = 'ACCEPTED'
		    	) r
		   ON b.JOIN_NO = r.JOIN_NO
  </sql>
  
  <resultMap id="joinDtoMap" type="JoinDto">
    <id property="joinNo" column="JOIN_NO" />
    <result property="userId" column="USER_ID" />
    <result property="category" column="CATEGORY" />
    <result property="participants" column="PARTICIPANTS" />
    <result property="region" column="REGION" />
    <result property="startDate" column="START_DATE" />
    <result property="endDate" column="END_DATE" />
    <result property="title" column="TITLE" />
    <result property="content" column="CONTENT" />
    <result property="createDate" column="CREATE_DATE" />
    
    <result property="currentCount" column="CURRENT_COUNT" />
    
    <collection property="userProfiles" ofType="ParticipantDto">
    	<result property="joinRequestNo" column="REQ_NO"/>
        <result property="userId" column="REQ_USER_ID" />
        <result property="profile" column="PROFILE" />
    </collection>
  </resultMap>
  
  <select id="findAllJoins" resultMap="joinDtoMap">
  	<include refid="joinColumns"/>
         , r.REQ_USER_ID
         , r.REQ_NO
         , r.PROFILE  		 
  	  FROM (
		   SELECT 
		          JOIN_NO
	            , USER_ID
	            , CATEGORY
	            , PARTICIPANTS
	            , REGION
	            , START_DATE
	            , END_DATE
	            , TITLE
	            , CONTENT
	            , DELETED
	            , CREATE_DATE
		     FROM 
		          JOIN_BOARD
		    WHERE 
		          DELETED = 'N'
	  	<if test="category != null and category != ''">
	  	      AND 
	  	          CATEGORY = #{category}
	  	</if>
		    ORDER 
		       BY 
		          JOIN_NO DESC
		   OFFSET #{pi.offset} ROWS FETCH NEXT #{pi.boardLimit} ROWS ONLY
		   ) b
  	<include refid="joinTable"/>
  	 WHERE 
           1 = 1
  	<if test="userId != null and userId !=''">
  	   AND 
  	       b.USER_ID = #{userId}
  	</if>
    <if test="keyword != null and keyword != ''">
       AND
  	       REGION LIKE '%'||#{keyword}||'%'
  	</if>
  </select>
  
  <select id="findByJoinNo" resultType="DetailJoinDto">
  	<include refid="joinColumns"/>
  		 , u.USER_NAME
  	  FROM 
  	       JOIN_BOARD b
  	  JOIN 
           PLOGUES_USER u ON b.USER_ID = u.USER_ID
     WHERE 
           b.DELETED = 'N'
  	   AND 
  	       b.JOIN_NO = #{joinNo}
  </select>
  
  <update id="deleteJoin">
  	UPDATE 
  	       JOIN_BOARD
  	   SET 
  	       DELETED = 'Y'
  	 WHERE 
  	       USER_ID = #{userId}
  	   AND 
  	       JOIN_NO = #{joinNo}
  </update>
  
  <update id="updateJoin">
  	UPDATE 
  	       JOIN_BOARD
  	   SET 
  	       PARTICIPANTS = #{participants}
  	     , REGION = #{region}
  	     , START_DATE = #{startDate}
  	     , END_DATE = #{endDate}
  	     , TITLE = #{title}
  	     , CONTENT = #{content}
  	     , UPDATED = 'Y'
  	 WHERE 
  	       USER_ID = #{userId}
  	   AND 
  	       JOIN_NO = #{joinNo}
  </update>
</mapper>