<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.iso.plogues.report.model.dao.ReportMapper">
	<insert id="saveReport">
		INSERT INTO REPORT_BOARD
		VALUES
			   (
				  SEQ_PLG_RB.NEXTVAL
			    , #{userId}
			    , #{reportCategory}
			    , #{boardType}
			    , #{content}
			    , SYSDATE
			    , 'N'
			    , 'N'
			    , #{targetNo}
			   )
	</insert>
	<select id="listCount" resultType="_int">
	  	SELECT 
	  			COUNT(*)
	  	  FROM
	  	  		REPORT_BOARD
		 WHERE	
		 		DELETED = 'N'  		
	</select>
	
	<sql id="reportColumns">
		SELECT
				REPORT_NO
			  , USER_ID
			  , REPORT_CATEGORY
			  , BOARD_TYPE
			  ,	CONTENT
			  ,	CREATE_DATE
			  ,	UPDATED
			  , DELETED
			  , TARGET_NO
			  , (
			  		SELECT
			  				COUNT(*)
			  		  FROM
			  		  		REPORT_BOARD R2
			  		 WHERE
			  		 		R2.TARGET_NO = REPORT_BOARD.TARGET_NO
			  		   AND
			  		   		R2.BOARD_TYPE = REPORT_BOARD.BOARD_TYPE
			  		   AND
			  		   		R2.DELETED = 'N'
			    ) COUNT
	      FROM
	      		REPORT_BOARD
	     WHERE
	     		DELETED = 'N' 			
	</sql>
	
	<select id="findAll" resultType="reportDto">
		<include refid="reportColumns"/>
		 ORDER
		    BY
		   		REPORT_NO DESC
		OFFSET #{offset} ROWS FETCH NEXT #{boardLimit} ROWS ONLY
	</select>
	
	<select id="existsReport" resultType="_int">
		SELECT
				COUNT(*)
		  FROM
		  		REPORT_BOARD
		 WHERE
		 		USER_ID = #{userId}
		   AND
		   		TARGET_NO = #{targetNo}
		   AND
		   		BOARD_TYPE = #{boardType}
		   AND
		   		DELETED = 'N'
	</select>











</mapper>